swde-exp-a/processing_nbaplayer(2)/Running_experiment__i_nbaplayer-msnca(434)__i_(7)/all_tuples(8)/all_tuples(8).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-a/processing_movie(0)/Running_experiment__i_movie-metacritic(2000)__i_(11)/output_values(10)/output_values(10).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-a/processing_movie(0)/Running_experiment__i_movie-metacritic(2000)__i_(11)/all_tuples(8)/all_tuples(8).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-a/processing_movie(0)/Running_experiment__i_movie-metacritic(2000)__i_(11)/extracting_from_sample_pages(7)/extracting_from_sample_pages(7).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-a/processing_movie(0)/Running_experiment__i_movie-hollywood(2000)__i_(5)/output_values(10)/output_values(10).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-a/processing_movie(0)/Running_experiment__i_movie-hollywood(2000)__i_(5)/all_tuples(8)/all_tuples(8).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-a/processing_movie(0)/Running_experiment__i_movie-hollywood(2000)__i_(5)/extracting_from_sample_pages(7)/extracting_from_sample_pages(7).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-a/processing_movie(0)/Running_experiment__i_movie-hollywood(2000)__i_(5)/Looking_for_oversegmentation(13)/output_values_once_segmented(9)/output_values_once_segmented(9).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-a/processing_movie(0)/Running_experiment__i_movie-iheartmovies(2000)__i_(7)/extracting_from_sample_pages(7)/extracting_from_sample_pages(7).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-a/processing_movie(0)/Running_experiment__i_movie-yahoo(2000)__i_(15)/extracting_from_sample_pages(7)/extracting_from_sample_pages(7).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-a/processing_movie(0)/Running_experiment__i_movie-rottentomatoes(2000)__i_(13)/output_values(10)/output_values(10).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-a/processing_movie(0)/Running_experiment__i_movie-rottentomatoes(2000)__i_(13)/all_tuples(8)/all_tuples(8).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-a/processing_movie(0)/Running_experiment__i_movie-rottentomatoes(2000)__i_(13)/extracting_from_sample_pages(7)/extracting_from_sample_pages(7).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-a/processing_movie(0)/Running_experiment__i_movie-imdb(2000)__i_(9)/output_values(10)/output_values(10).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-a/processing_movie(0)/Running_experiment__i_movie-imdb(2000)__i_(9)/all_tuples(8)/all_tuples(8).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-a/processing_movie(0)/Running_experiment__i_movie-imdb(2000)__i_(9)/extracting_from_sample_pages(7)/extracting_from_sample_pages(7).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-a/processing_movie(0)/Running_experiment__i_movie-imdb(2000)__i_(9)/Looking_for_oversegmentation(13)/output_values_once_segmented(32)/output_values_once_segmented(32).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-a/processing_movie(0)/Running_experiment__i_movie-allmovie(2000)__i_(1)/all_tuples(8)/all_tuples(8).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-a/processing_movie(0)/Running_experiment__i_movie-allmovie(2000)__i_(1)/extracting_from_sample_pages(7)/extracting_from_sample_pages(7).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-a/processing_movie(0)/Running_experiment__i_movie-amctv(2000)__i_(3)/all_tuples(8)/all_tuples(8).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-a/processing_movie(0)/Running_experiment__i_movie-amctv(2000)__i_(3)/extracting_from_sample_pages(7)/extracting_from_sample_pages(7).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-a/processing_university(4)/Running_experiment__i_university-matchcollege(2000)__i_(7)/output_values(10)/output_values(10).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-a/processing_university(4)/Running_experiment__i_university-matchcollege(2000)__i_(7)/all_tuples(8)/all_tuples(8).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-a/processing_university(4)/Running_experiment__i_university-matchcollege(2000)__i_(7)/extracting_from_sample_pages(7)/extracting_from_sample_pages(7).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-a/processing_university(4)/Running_experiment__i_university-matchcollege(2000)__i_(7)/Looking_for_oversegmentation(13)/output_values_once_segmented(76)/output_values_once_segmented(76).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-a/processing_university(4)/Running_experiment__i_university-embark(2000)__i_(5)/extracting_from_sample_pages(7)/extracting_from_sample_pages(7).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-a/processing_university(4)/Running_experiment__i_university-usnews(1027)__i_(9)/all_tuples(8)/all_tuples(8).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-a/processing_university(4)/Running_experiment__i_university-usnews(1027)__i_(9)/extracting_from_sample_pages(7)/extracting_from_sample_pages(7).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-a/processing_university(4)/Running_experiment__i_university-collegeprowler(2000)__i_(1)/output_values(10)/output_values(10).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-a/processing_university(4)/Running_experiment__i_university-collegeprowler(2000)__i_(1)/all_tuples(8)/all_tuples(8).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-a/processing_university(4)/Running_experiment__i_university-collegeprowler(2000)__i_(1)/extracting_from_sample_pages(7)/extracting_from_sample_pages(7).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-a/processing_university(4)/Running_experiment__i_university-collegeprowler(2000)__i_(1)/Looking_for_oversegmentation(13)/output_values_once_segmented(4)/output_values_once_segmented(4).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-greedy-inf/processing_nbaplayer(2)/Running_experiment__i_nbaplayer-msnca(434)__i_(7)/all_tuples(8)/all_tuples(8).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-greedy-inf/processing_movie(0)/Running_experiment__i_movie-metacritic(2000)__i_(11)/output_values(10)/output_values(10).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-greedy-inf/processing_movie(0)/Running_experiment__i_movie-metacritic(2000)__i_(11)/all_tuples(8)/all_tuples(8).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-greedy-inf/processing_movie(0)/Running_experiment__i_movie-metacritic(2000)__i_(11)/extracting_from_sample_pages(7)/extracting_from_sample_pages(7).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-greedy-inf/processing_movie(0)/Running_experiment__i_movie-metacritic(2000)__i_(11)/Looking_for_oversegmentation(13)/output_values_once_segmented(6)/output_values_once_segmented(6).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-greedy-inf/processing_movie(0)/Running_experiment__i_movie-hollywood(2000)__i_(5)/all_tuples(8)/all_tuples(8).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-greedy-inf/processing_movie(0)/Running_experiment__i_movie-hollywood(2000)__i_(5)/extracting_from_sample_pages(7)/extracting_from_sample_pages(7).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-greedy-inf/processing_movie(0)/Running_experiment__i_movie-iheartmovies(2000)__i_(7)/extracting_from_sample_pages(7)/extracting_from_sample_pages(7).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-greedy-inf/processing_movie(0)/Running_experiment__i_movie-yahoo(2000)__i_(15)/all_tuples(8)/all_tuples(8).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-greedy-inf/processing_movie(0)/Running_experiment__i_movie-yahoo(2000)__i_(15)/extracting_from_sample_pages(7)/extracting_from_sample_pages(7).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-greedy-inf/processing_movie(0)/Running_experiment__i_movie-rottentomatoes(2000)__i_(13)/output_values(10)/output_values(10).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-greedy-inf/processing_movie(0)/Running_experiment__i_movie-rottentomatoes(2000)__i_(13)/all_tuples(8)/all_tuples(8).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-greedy-inf/processing_movie(0)/Running_experiment__i_movie-rottentomatoes(2000)__i_(13)/extracting_from_sample_pages(7)/extracting_from_sample_pages(7).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-greedy-inf/processing_movie(0)/Running_experiment__i_movie-rottentomatoes(2000)__i_(13)/Looking_for_oversegmentation(13)/output_values_once_segmented(6)/output_values_once_segmented(6).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-greedy-inf/processing_movie(0)/Running_experiment__i_movie-imdb(2000)__i_(9)/output_values(10)/output_values(10).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-greedy-inf/processing_movie(0)/Running_experiment__i_movie-imdb(2000)__i_(9)/all_tuples(8)/all_tuples(8).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-greedy-inf/processing_movie(0)/Running_experiment__i_movie-imdb(2000)__i_(9)/extracting_from_sample_pages(7)/extracting_from_sample_pages(7).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-greedy-inf/processing_movie(0)/Running_experiment__i_movie-imdb(2000)__i_(9)/Looking_for_oversegmentation(13)/output_values_once_segmented(42)/output_values_once_segmented(42).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-greedy-inf/processing_movie(0)/Running_experiment__i_movie-allmovie(2000)__i_(1)/output_values(10)/output_values(10).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-greedy-inf/processing_movie(0)/Running_experiment__i_movie-allmovie(2000)__i_(1)/all_tuples(8)/all_tuples(8).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-greedy-inf/processing_movie(0)/Running_experiment__i_movie-allmovie(2000)__i_(1)/extracting_from_sample_pages(7)/extracting_from_sample_pages(7).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-greedy-inf/processing_movie(0)/Running_experiment__i_movie-allmovie(2000)__i_(1)/Looking_for_oversegmentation(13)/output_values_once_segmented(28)/output_values_once_segmented(28).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-greedy-inf/processing_movie(0)/Running_experiment__i_movie-amctv(2000)__i_(3)/all_tuples(8)/all_tuples(8).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-greedy-inf/processing_movie(0)/Running_experiment__i_movie-amctv(2000)__i_(3)/extracting_from_sample_pages(7)/extracting_from_sample_pages(7).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-greedy-inf/processing_university(4)/Running_experiment__i_university-matchcollege(2000)__i_(7)/output_values(10)/output_values(10).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-greedy-inf/processing_university(4)/Running_experiment__i_university-matchcollege(2000)__i_(7)/all_tuples(8)/all_tuples(8).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-greedy-inf/processing_university(4)/Running_experiment__i_university-matchcollege(2000)__i_(7)/extracting_from_sample_pages(7)/extracting_from_sample_pages(7).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-greedy-inf/processing_university(4)/Running_experiment__i_university-matchcollege(2000)__i_(7)/Looking_for_oversegmentation(13)/output_values_once_segmented(100)/output_values_once_segmented(100).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-greedy-inf/processing_university(4)/Running_experiment__i_university-embark(2000)__i_(5)/all_tuples(8)/all_tuples(8).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-greedy-inf/processing_university(4)/Running_experiment__i_university-embark(2000)__i_(5)/extracting_from_sample_pages(7)/extracting_from_sample_pages(7).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-greedy-inf/processing_university(4)/Running_experiment__i_university-usnews(1027)__i_(9)/all_tuples(8)/all_tuples(8).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-greedy-inf/processing_university(4)/Running_experiment__i_university-usnews(1027)__i_(9)/extracting_from_sample_pages(7)/extracting_from_sample_pages(7).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-greedy-inf/processing_university(4)/Running_experiment__i_university-collegeprowler(2000)__i_(1)/output_values(10)/output_values(10).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-greedy-inf/processing_university(4)/Running_experiment__i_university-collegeprowler(2000)__i_(1)/all_tuples(8)/all_tuples(8).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-greedy-inf/processing_university(4)/Running_experiment__i_university-collegeprowler(2000)__i_(1)/extracting_from_sample_pages(7)/extracting_from_sample_pages(7).log.html filter=lfs diff=lfs merge=lfs -text
swde-exp-greedy-inf/processing_university(4)/Running_experiment__i_university-collegeprowler(2000)__i_(1)/Looking_for_oversegmentation(13)/output_values_once_segmented(6)/output_values_once_segmented(6).log.html filter=lfs diff=lfs merge=lfs -text
